  .button {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    border-radius: 6px;
    transition: .7s;
  }

  .button:hover {
    cursor:pointer;
  }

  .text {
    align-self: center;
    margin: auto;
  }

  .button-small .text {
    font-size: 12px;
  }

  .button-medium .text {
    font-size: 14px;
  }

  .button-large .text {
    font-size: 16px;
  }

  .button:hover {
    cursor: pointer;
  }

  .button-link__pressed:hover,
  .button-link__selected:hover,
  .button-text__pressed:hover,
  .button-text__selected:hover,
  .button-primary__pressed:hover,
  .button-secondary__selected:hover,
  .button-secondary__pressed:hover {
    background: #92adff;
  }

  .button-link__disabled:hover,
  .button-text__disabled:hover,
  .button-primary__disabled:hover,
  .button-secondary__disabled:hover {
    cursor: not-allowed;
  }

  .button-primary,
  .button-primary__pressed {
    background: #0065EB;
  }
  
  .button-primary__disabled {
    background: #EDEFF2;
  }
  
  .button-primary__selected {
    background: #1540C1;
  }
  
  .button-secondary,
  .button-secondary__pressed {
    border: 1px solid #0065EB;
  }
  
  .button-secondary__disabled {
    border: 1px solid #EDEFF2;
  }
  
  .button-secondary__selected {
    border: 1px solid #1540C1;
  }
  
  .button-link,
  .button-link__pressed {
    color: #006EFF;
  }
  
  .button-link__disabled,
  .button-text {
    color: #EDEFF2;
  }
  
  .button-link__selected {
    color: #1540C1;
  }
  
  .text__pressed,
  .text__secondary__pressed,
  .text__link__pressed,
  .text__text__pressed {
    color: #0065EB;
  }
  
  .text__disabled,
  .text__primary__disabled,
  .text__secondary__disabled,
  .text__link__disabled,
  .text__text__disabled {
    color: #B0B5C4;
  }
  
  .text__selected,
  .text__secondary__selected,
  .text__link__selected,
  .text__text__selected {
    color: #1540C1;
  }
  
  .button-link:hover {
    text-decoration: underline;
  }
  
  .text__primary__pressed,
  .text__primary__selected {
    color: #FFFFFF;
  }
  
  .button-small {
    width: 84px;
    height: 32px;
  }

  .button-medium {
    width: 100px;
    height: 40px;
  }

  .button-large {
    width: 124px;
    height: 48px;
  }

  .button-round {
    border-radius: 30px;
  }

  .icon__primary__pressed, 
  .icon__primary__selected {
    color: white;
  }
    
  .icon__primary__disabled,
  .icon__secondary__disabled,
  .icon__link__disabled,
  .icon__text__disabled   {
    color: #B0B5C4;
  }

  .icon__secondary__pressed,
  .icon__link__pressed,
  .icon__text__pressed {
    color: #006EFF;
  }
  
  .icon__secondary__selected,
  .icon__link__selected,
  .icon__text__selected {
    color: #1540C1;
  }

  .icon {
    margin-right: 6px;
    margin-bottom: 4px;
  }

  .button-content {
    display: flex;
    align-items: center;
  }

  .button-design {
    margin: 5%;
  }

  .loader {
    margin: 16px;
  }