.switch {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.switch-large {
  width: 40px;
  height: 20px;
}

.switch-small {
  width: 36px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-dragging {
  transition: 0.2s;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
  display: flex;
  align-items:center;
  justify-content:space-between;
  padding-top: 2px;
  padding-left: 2px;
}

.slider:hover:not(.slider-disabled) {
  background-color: rgb(172, 168, 168);
}

.switch-on .slider:not(.slider-disabled):hover {
  background-color: #5babf7;
}

.slider-small:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 3px;
  margin-right: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.slider-large:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-loading:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  bottom: 2px;
  background-color: white;
  border: 1px solid #000000; 
  border-top: 1px solid transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 2px; 
}

.switch-on .slider-loading:before {
  left: auto; 
  right: 2px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.switch-on .slider {
  background-color: #1890ff;
}

.switch-off .slider {
  background-color: #ccc;
}

.switch-on .slider:before {
  transform: translateX(18px);
}

.switch-off .slider:before {
  transform: translateX(0);
}

.slider-disabled {
  background-color:rgb(174, 171, 171);
}

.slider-disabled:hover {
  cursor: not-allowed;
}

.switch-off .slider-disabled {
  background-color:rgb(174, 171, 171);
}

.switch-on .slider-disabled {
  background-color:rgb(174, 171, 171);
}