.cell5 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.list {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
}