.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px), 1fr);
    gap: 16px;
    margin: 0 auto;
    max-width: 900px;
}

@media (max-width: 50%) {
    .card {
        grid-template-columns: repeat(1, ifr);
    }
}