.card {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 50%) {
    .card {
        flex-direction: column;
    }
}