.card-first {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    width: 400px;
    height: 250px;
    padding: 32px;
  }

  .card-second {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    padding: 16px;
    margin: 32px;
  }

  .card-component {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
    margin-top: 16px;
  }

  .card-second:hover {
    box-shadow: 0 0 24px rgb(182, 182, 182);
  }
  
.card-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin-top: 16px;
    color: black;
  }
  
.card-title {
    color: #101828;
    font-weight: bold;
    align-self: baseline;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 8px;
    margin-top: 16px;
  }

  
