.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin: 8px;
  }
  
  .checkbox input {
    display: none;
  }
  
  .checkmark {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 6px;
    transition: background-color 0.3s ease;
  }

  .checkmark:hover {
      border: 1px solid #007bff;
  }
  
  .checkbox input:checked ~ .checkmark {
    background-color: #007bff;
  }

  .checkmark-disabled {
    background:rgb(131, 131, 131);
    cursor:not-allowed;
  }

  .checkbox input:checked ~ .checkmark::after {
    content: '';
    position: absolute;
    display: block;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .checkbox .label {
    font-size: 14px;
  }