.switch {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 20px;
  }

  /* .switch-large {
    width: 40px;
    height: 20px;
  }

  .switch-small {
    width: 32px;
    height: 16px;
  } */
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider-dragging {
    transition: 0.2s;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }

  .slider:not[disabled]:hover {
    background-color: rgb(172, 168, 168);
  }

  .slider-small:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }

  .slider-large:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .switch-on .slider {
    background-color: #1890ff;
  }

  .switch-on .slider:not[disabled]:hover {
    background-color: #5babf7;
  }
  
  .switch-on .slider:before {
    transform: translateX(20px);
  }
  
  .switch-off .slider:before {
    transform: translateX(0);
  }
  
  .slider-disabled {
    cursor: not-allowed;
  }

  .switch-icon {
      margin: 8px;
  }