.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: 8px;
}

.checkbox input {
  display: none;
}

.checkmark {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.checkmark:hover {
  border: 1px solid #007bff;
}

.checkbox input:checked ~ .checkmark {
  background-color: #007bff;
}

.checkbox input:checked ~ .checkmark-indeterminate {
  background-color: white;
}

.checkmark-disabled {
  border: 1px solid rgb(131, 131, 131);
  cursor: not-allowed;
}

.checkbox-disabled_checked {
  background-color: rgb(131, 131, 131);
  cursor: not-allowed;
  content: '';
}

.checkbox input:checked ~ .checkmark::after {
  content: '';
  position: absolute;
  display: block;
  left: 5px;
  bottom: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox .label {
  font-size: 14px;
}

.checkbox input:checked ~ .checkmark-indeterminate::after {
  content: "";
  top: 50%;
  inset-inline-start: 50%;
  width: 8px;
  height: 8px;
  background-color: #1677ff;
  border: 0;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
