.checkbox-group {
    margin-bottom: 16px;
  }
  
  .checkbox-group .checkmark {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 6px;
    transition: background-color 0.3s ease;
  }
  
  .checkbox-group .checkmark:hover {
    border: 1px solid #007bff;
  }
  
  .checkbox-group .checkmark::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    background-color: blue;
    display: none;
  }
  
  .checkbox-group .checkbox input:checked ~ .checkmark {
    background-color: #007bff;
  }
  
  .checkbox-group .checkbox input:checked ~ .checkmark::after {
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .checkbox-group .checkbox.disabled .checkmark {
    background: rgb(131, 131, 131);
    cursor: not-allowed;
  }
  
  .checkbox-group .label {
    font-size: 14px;
  }