.breadcrums {
    color:black;
    cursor: pointer;
}

.breadcrums:hover {
    text-decoration: underline;
    cursor: pointer;
}

.story-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 800px;
    height: 400px;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 24px rgb(182, 182, 182);
    border-radius: 10px;
}

.componentName {
    cursor: pointer;
}

.componentName:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}