.breadcrums {
    color:black;
    cursor: pointer;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    transition: 0.3s;
}

.breadcrums:hover {
    cursor: pointer;
    color: blue;
}

.breadcrums-text1 {
    font-size: bold;
    line-height: 18px;
}

.breadcrums-text1:hover {
    text-decoration: underline;
}

.story-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 32px;
    width: 800px;
    height: 400px;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 24px rgb(182, 182, 182);
    border-radius: 10px;
}

.componentName {
    cursor: pointer;
}

.componentName:hover {
    cursor: pointer;
    text-decoration: underline;
}