.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1vh;
}

.slider {
  position: relative;
  width: 300px;
}

.range-input {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: #d3d3d3;
  height: 4px;
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: background 0.2s;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #83a0ff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 2;
  transition: background 0.2s;
}

.range-input::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #83a0ff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.slider-value {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #83a0ff;
}